@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,400italic,300,300italic,700,700italic|Open+Sans+Condensed:300);

body, html {
background:url('butterfree-bg.gif') bottom left no-repeat fixed #F4EBFF;
color:000000;
font-family:"Open Sans", sans-serif;
font-size:16px;
line-height:1.5;
margin:0;
padding:0;
}

img {
border-width:0px;
}

select, input, button, textarea {
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
padding:3px 5px;
border:1px solid #000;
border-radius:3px;
font-family:"Open Sans", sans-serif;
font-size:16px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
height:30px;
vertical-align:middle;
}

textarea {
height:auto;
}

input:focus {
border-width:2px;
padding:2px 4px;
border-radius:5px;
}

button, input[type=submit], input[type=button], input[type=reset] {
padding:3px 15px;
font-size:14px;
cursor:pointer;
}

button.compact {
padding:3px 10px;
}

button:hover, input:hover, select:hover, textarea:hover, button:focus, input:focus, select:focus, textarea:focus, button:active, input:active, select:active, textarea:active {
outline:none;
background:#FFF;
}

input[type=radio], input[type=checkbox] {
height:auto;
padding:0;
}

blockquote {
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
padding:30px 40px;
position:relative;
z-index:0;
border-radius:5px;
}

blockquote:before {
content:'â€œ';
position:absolute;
top:0;
left:0;
color:#CBB4E6;
font-family:georgia, serif;
font-size:100px;
line-height:100px;
z-index:-1;
}

code, pre {
font-size:14px;
font-family:"lucida console", courier, monospace;
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
}

code {
padding:0 5px;
}

li {
margin-bottom:5px;
}

h1 {
position:relative;
font-family:"Open Sans Condensed", sans-serif;
font-weight:300;
font-size:3.5em;
text-align:center;
letter-spacing:0.1em;
padding-bottom:10px;
margin:30px 0;
font-variant:small-caps;
}

h2 {
font-family:"Open Sans", sans-serif;
font-weight:300;
font-size:2em;
font-style:normal;
margin-top:2em;
position:relative;
text-align:center;
}

h3 {
font-family:'Open Sans', sans-serif;
font-size:1.5em;
}

h4 {
font-weight:bold;
font-size:1em;
margin-bottom:0;
}

td {
font-size:inherit;
font-family:inherit;
padding:0.5em;
}

hr {
color:#555;
background:#555;
height:1px;
width:100%;
border:0;
}

a:link, a:visited {
color:#AF96D0;
font-weight:bold;
text-decoration:none;
}

a:active, a:hover {
color:#CBB4E6;
}

#head {
width:100%;
text-align:center;
margin:0;
padding:0;
position:relative;
overflow:hidden;
}

#banner {
width:100%;
padding:50px 0;
min-height:200px;
color:#000;
overflow:hidden;
}

#banner h1 {
position:relative;
margin:0 0 0.5em;
font-size:4em;
border:0;
font-family:"Open Sans Condensed", sans-serif;
font-variant:normal;
font-style:normal;
font-weight:300;
line-height:0.8;
letter-spacing:normal;
font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
-webkit-font-feature-settings: "kern";
z-index:2;
}

#banner h1 a {
color:#6F5690;
text-decoration:none;
}

#banner h1 span {
display:block;
font-size:2em;
font-weight:600;
letter-spacing:-5px;
}

#banner p {
position:relative;
font-size:1em;
font-family:'Open Sans', sans-serif;
font-weight:400;
z-index:1;
margin:-10px auto 0;
}

#banner:before {
content:'';
position:absolute;
top:0;
left:50%;
margin-left:220px;
background:url('butterfree-bg.png') left top no-repeat;
background-size:300px;
height:300px;
width:300px;
}

#hitcounter {
display:none;
}

#styleswitcher {
position:absolute;
top:20px;
left:20px;
font-size:12px;
text-align:left;
z-index:3;
}

#styleswitcher select {
font-size:12px;
height:25px;
}

#styleswitcher input {
font-size:12px;
height:25px;
padding:2px 10px;
}

#layout {
width:100%;
}

#container {
margin:-50px 0 0;
position:relative;
padding-bottom:150px;
}

#content {
margin:0 14em;
padding:30px;
text-align:left;
}

#zodiac {
font-family:"Open Sans", sans-serif;
font-size:14px;
position:relative;
margin-top:-20px;
z-index:1;
}

#zodiac a:link, #zodiac a:visited {
font-weight:normal;
}

#zodiac img {
vertical-align:middle;
margin:0 0 0 -20px;
line-height:20px;
}

#zodiac a:active, #zodiac a:hover {
text-decoration:none;
}

#lastmodified {
font-size:14px;
color:#6F5690;
}

#menu {
position:absolute;
top:0;
left:0;
width:14em;
background:url('butterfree-bg2.gif') bottom left no-repeat fixed #FAF5FF;
}

#menu ul {
margin:15px 0 0;
padding:0;
list-style-type:none;
font-size:14px;
}

#menu ul li {
padding-left:0;
}

#menu ul li a {
font-weight:bold;
font-size:18px;
font-variant:small-caps;
margin:0;
padding:0.2em 20px;
text-decoration:none;
color:#000;
font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
-webkit-font-feature-settings: "kern";
}

#menu ul li a:hover {
text-decoration:underline;
}

#menu ul li ul {
margin:15px 0;
padding-bottom:0;
}

#menu ul li ul li {
padding:0;
position:relative;
margin-bottom:0;
}

#menu ul li ul li a:link, #menu ul li ul li a:visited {
display:block;
font-size:14px;
font-weight:normal;
font-variant:normal;
padding:0.2em 20px;
}

#menu ul li ul li a:active, #menu ul li ul li a:hover {
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
text-decoration:underline;
}

#menu ul li ul li ul {
display:none;
}

#menu ul li ul li:hover ul {
display:block;
position:absolute;
top:0;
left:100%;
margin:0;
width:16em;
background:url('butterfree-bg2.gif') bottom left no-repeat fixed #FAF5FF;
z-index:2;
}

#affys {
position:absolute;
top:0;
right:0;
padding-right:10px;
text-align:center;
width:14em;
background:url('butterfree-bg2.gif') bottom left no-repeat fixed #FAF5FF;
}

#affys ul {
margin:15px 0 0;
padding:0;
list-style-type:none;
}

#affys ul li {
padding-left:0;
text-align:center;
}

#affys ul li a {
font-weight:bold;
font-size:18px;
font-variant:small-caps;
margin:0;
padding:0.2em 20px;
text-decoration:none;
color:#000;
font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
-webkit-font-feature-settings: "kern";
}

#affys ul li a:hover {
text-decoration:underline;
}

#affys ul li ul {
margin:15px 0;
padding-bottom:0;
}

#affys ul li ul li {
padding:0;
margin-bottom:0;
}

#affys ul li ul li a:link, #affys ul li ul li a:visited {
display:block;
font-size:14px;
font-family:'Open Sans', sans-serif;
font-weight:normal;
font-variant:normal;
padding:0.2em 20px;
}

#affys ul li ul li a:active, #affys ul li ul li a:hover {
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
text-decoration:underline;
}

#disclaimer {
text-align:center;
font-family:"Open Sans", sans-serif;
font-size:13px;
width:920px;
margin:-20px auto 0;
color:#6F5690;
z-index:1;
position:relative;
}

#disclaimer hr {
display:none;
}

#disclaimer a:active, #disclaimer a:hover {
text-decoration:underline;
}

#invisiblelink a {
color:#000;
text-decoration:none;
cursor:text;
}

#invisiblelink a img {
cursor:default;
height:31px;
width:88px;
}

#updates {
width:100%;
text-align:center;
}

#updates h2 {
font-size:1.8em;
text-align:left;
}

#updates h2 a {
font-weight:inherit;
}

#updates .updatetext {
text-align:left;
}

#updates .updatetext p {
margin-top:1em;
margin-bottom:1em;
}

#updates .update-comments {
text-align:center;
}

div.bottom {
text-align:center;
font-weight:bold;
}

p#guestbook {
text-align:center;
}

.aspquiz {
color:#880000;
}

.javaquiz {
color:#000088;
}

.aspquiz textarea {
border:3px solid #880000;
}

.javaquiz textarea {
border:3px solid #000088;
}

#pollcontainer {
text-align:center;
}

.poll {
margin:auto;
width:400px;
font-family:"Open Sans", sans-serif;
font-size:14px;
}

.poll form {
width:300px;
}

.poll td {
text-align:left;
padding:0.1em;
}

.poll .pollcredit {
font-family:arial, sans-serif;
font-size:10px;
}

.poll-bar {
border:0;
height:20px;
background:#AF96D0;
}

.celltable {
border-collapse:collapse;
}

.celltable tr {
border-bottom:1px solid #000;
}

.celltable td, .celltable th {
padding:5px 20px;
border-width:1px;
}

#statmod-calculator td, #statmod-calculator th {
padding:5px 10px;
}

fieldset {
border:1px solid #000;
padding:30px 40px;
}

legend {
color:#000;
font-family:"Open Sans", sans-serif;
font-weight:300;
font-size:18px;
}

#featured {
position:relative;
}

#featured a span {
position:absolute;
top:-0.8em;
left:100%;
width:200px;
padding:1em 20px;
background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
text-decoration:none;
display:none;
z-index:1;
}

#featured a:hover span {
display:block;
}

.table-of-contents {
padding:1em 0;
border-radius:10px;
float:left;
margin:2em 0;
}

.table-of-contents h4 {
margin-top:0;
}

/* GUESTBOOK */

.guestbook-date {
position:absolute;
bottom:5px;
right:5px;
}


/* RESPONSIVE FEATURES */

@media (max-width:959px) {
    html, body {
        background-image:url('butterfree-bg-mobile.png');
    }

    #styleswitcher {
        top:50px;
        left:10px;
        margin-left:0;
    }

    #menu {
        position:fixed;
        top:0;
        left:0;
        right:-20px;
        width:auto;
        padding-bottom:5px;
        z-index:2;
        overflow-y:scroll;
        background:none;
    }

    #menu:hover {
        height:100%;
        pointer-events:none;
    }

    #menu::-webkit-scrollbar {
        display:none;
    }

    #menu-inner {
        float:left;
        width:100%;
        background:url('butterfree-bg2.gif') bottom left no-repeat fixed #FAF5FF;
        pointer-events:auto;
    }

    #menu ul {
        margin:0;
        padding:0 20px 0 0;
        list-style-type:none;
    }

    #menu ul li {
        float:left;
        width:14.2857%;
        position:relative;
        margin:0;
    }

    #menu ul li a {
        display:block;
        padding:7px 10px;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#000;
        font-family:'Open Sans', sans-serif;
        font-weight:300;
        font-size:14px;
        transition:padding 0.2s;
    }

    #menu ul li a:active, #menu ul li a:hover {
        background:url('butterfree-bg3.gif') bottom left no-repeat fixed #FCFAFF;
    }

    #menu-inner:hover ul li a {
        padding:20px 10px;
    }

    #menu ul li ul {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:200px;
        background:url('butterfree-bg2.gif') bottom left no-repeat fixed #FAF5FF;
        margin:0;
        padding:0;
        z-index:-1;
    }

    #menu ul li:last-child ul {
        left:auto;
        right:0;
    }

    #menu ul li:hover ul {
        display:block;
    }

    #menu ul li ul li {
        float:none;
        width:auto;
        position:relative;
    }

    #menu ul li ul li a:link, #menu ul li ul li a:visited {
        text-transform:none;
        text-align:left;
        padding:0.2em 20px;
    }

    #menu ul li:hover ul li ul {
        position:absolute;
        top:0;
        left:100%;
        width:200px;
        display:none;
        z-index:1;
    }

    #menu ul li:hover ul li:hover ul {
        display:block;
    }

    #affys {
        position:static;
        text-align:center;
        width:auto;
        background:none;
    }

    #affys ul li ul li, #affys ul li ul li a:link, #affys ul li ul li a:visited {
        display:inline;
        background:none;
    }

    #affys ul li ul li a:link, #affys ul li ul li a:visited {
        padding:0 0.2em;
    }

    #content {
        margin-left:20px;
        margin-right:20px;
    }

    #disclaimer {
        width:auto;
        margin-left:20px;
        margin-right:20px;
    }
}

@media (max-width:767px) {
    #layout {
        overflow:visible;
    }

    #zodiac {
        font-size:12px;
    }

    #zodiac img {
        margin-top:-5px;
        margin-bottom:-3px;
    }

    #styleswitcher {
        position:static;
        margin-top:10px;
        text-align:center;
    }

    #styleswitcher br {
        display:none;
    }

    #container {
        position:static;
        margin-top:-20px;
        padding-bottom:50px;
    }

    #content {
        margin:10px;
    }

    #menu {
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:auto;
        width:auto;
        overflow:visible;
        padding:0;
        z-index:1000;
    }

    #menu:before {
        content:none;
    }

    #menu-inner {
        height:40px;
        cursor:pointer;
        position:relative;
    }

    #menu-inner:hover {
        height:auto;
    }

    #menu:hover {
        height:auto;
    }

    #menu ul li {
        width:100%;
    }

    #menu ul li a {
        display:block;
        padding:10px 20px;
        font-family:'Open Sans', sans-serif;
        text-align:center;
        font-variant:normal;
    }

    #menu ul {
        display:none;
        margin:0;
        padding:40px 0 0;
    }

    #menu-inner:hover ul {
        display:block;
    }

    #menu-inner:hover ul li ul {
        display:none;
    }

    #menu-inner:hover ul li:hover ul {
        display:block;
        width:auto;
        position:static;
    }

    #menu-inner:hover ul li:hover ul li a {
        text-align:center;
        padding:0.5em 20px;
    }

    #menu-inner:hover ul li:hover ul li ul {
        display:none;
    }

    #menu-inner:hover ul li:hover ul li:hover ul {
        display:block;
    }

    #menu #featured a:active, #menu #featured a:hover {
        text-decoration:none;
    }

    #featured a span {
        position:static;
        padding:1em 20px;
        width:auto;
        text-align:left;
    }

    #menu-inner:before {
        content:'';
        position:absolute;
        bottom:10px;
        left:50%;
        height:0;
        width:1px;
        margin-left:-15px;
        border-style:solid;
        border-top-width:15px;
        border-left-width:15px;
        border-right-width:15px;
        border-color:transparent;
        border-top-color:#AF96D0;
    }

    #menu-inner:hover:before {
        content:none;
    }

    #updates h2 {
        margin:1em 0;
    }

    textarea, img {
        max-width:100%;
    }

    blockquote {
        margin:1em 0;
        padding:10px 20px;
    }

    #guestbook-posts blockquote {
        padding-bottom:30px;
    }

    #guestbook-rules ul {
        margin:1em 0;
        padding:0;
    }

    #guestbook-rules li {
        margin:0;
        padding:0;
    }

    #guestbook-form {
        width:100%;
    }

    #guestbook-form div label, #guestbook-form div input, #guestbook-form div textarea, #guestbook-form div select {
        float:none;
        text-align:left;
    }
}

@media (max-width:479px) {
    #banner {
        position:relative;
        overflow:hidden;
        padding-bottom:0;
        min-height:150px;
    }

    #banner h1 {
        font-size:2.5em;
        margin-top:20px;
        padding:0;
    }

    #banner p {
        display:none;
    }

    #banner:before {
        margin-left:90px;
        background-size:150px;
    }

    #zodiac {
        padding:10px;
    }

    #zodiac img {
        display:none;
    }

    #content {
        padding:0 0 30px;
    }

    #styleswitcher {
        margin-bottom:30px;
    }

    h1 {
        font-size:2.5em;
        padding:0;
        margin-top:0;
    }

    h2 {
        font-size:2em;
        padding:0;
        margin-bottom:20px;
    }

    #updates h2 {
        font-size:20px;
        margin:1em 0;
    }

    .poll {
        width:100%;
        text-align:center;
    }

    .poll img {
        float:none;
        margin:0;
    }

    .poll form {
        float:none;
        width:auto;
        text-align:left;
    }

    .poll-results {
        display:block;
    }

    .poll-results tr {
        display:block;
    }

    .poll-results .option {
        display:block;
    }

    .poll-results .bar {
        width:480px;
    }

    blockquote:before {
        font-size:70px;
        line-height:70px;
    }
}